html { 
    background: url("../images/infinity-gauntlet-thanos.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: white;
}

.container1 {
    text-align: center;
    font-size: 18px;
}
.container2 {
    text-align: left;
    font-size: 18px;
}

section {
    font-size: 18px;
}

button {
    margin-left:150px;
    word-wrap: break-word;
    background-color: purple;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    cursor: pointer;
    border-radius: 200px 195px 195px 200px;
    border: 5px solid goldenrod;
}

#space {
    background: purple;
}

#power {
    background: rgb(124, 11, 11);
}
    
#mind {
    background: rgb(6, 164, 238);
}

#soul {
    background: green;

}

